.app.dark {
    --bg-color: rgb(39 39 48);
    --inverted-bg-color: rgb(231 231 247);
    --primary-color: rgb(214 214 245);
    --secondary-color: rgb(100 100 228);
    --inverted-primary-color: rgb(230 194 86);
    --inverted-secondary-color: rgb(211, 211, 225);
}
