.AppLink {
    color: var(--primary-color);
    padding: 10px 20px;
    text-decoration: none;
}

.primary {
    color: var(---primary-color);
}

.secondary {
    color: var(--inverted-secondary-color);
}